[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
authlib = "*"
requests = "*"
jose = "*"
six = "*"
"flask.ext" = "*"
flask-cors = "*"
crypto = "*"
python-jose = "*"

[dev-packages]

[requires]
python_version = "3.8"
